/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

body {
    background: url('./assets/img/bgcPier.png') center top no-repeat;
    background-size: 100% auto;
    height: 100%;
    margin: 0;
}